.conatiner{
    width: 100%;
    height:3000px;
    

}
.nav{
    height: 80px;
    width: 100%;
    background-color: #242B2E;
    position: sticky;
    top: 0;
    
}
.nav-heading{
    width: 30%;
    font-size: 3em;
    color: white;
   display: inline;
   float: left;
   text-align: center;
   padding-top: 1%;
}
.nav-menu{
    width: 50%;
    display: inline;
    float: left;
    padding-top: 2%;
    
}

.nav-items{
    float: left;
    color: white;
    margin-right: 9%;
}
.nav-icon{
    display: inline;
    float: left;
    width: 10%;
    margin-left: 10%;
    padding-top: 1%;
}
.nav-icon img{
    height: 40px;
}
.nav-subitems{
    display: none;
    position: absolute;
    min-width: 150px;
    min-height: 150px;
    
    background-color: white;
    border: 1px solid black;
}
.nav-subitems .subitems{
    padding-top: 5%;
    padding-left: 3%;
    line-height: 1.5;
}
.nav-icon:hover .nav-subitems{
    display: block;
}
.heading-sect{
    
    width: 100%
    
}
.heading-image img{
   height: 500px;
    width: 100%;
    z-index: 2;
    
}
.heading-name{
    position: absolute;
    top: 40%;
    font-size: 10em;
    padding-left: 30%;
    color: white;
    z-index: 1;
}
.anothertitle-sect{
    height: 100px;
    width: 98%;
    border: 3px solid black;
    margin: auto;
}
.logo-sect{
    width: 20%;
    height: 90%;
    display: inline;
}
.logo1{
    width: 5%;
    height:70% ;
    display: inline;
    float: left;
    border: 1px solid black;
    margin-left: 2%;
    margin-top: 1%;
    border-radius: 25%;
}
.anotherheading-sect{
    width: 30%;
    display: inline;
    float: left;
    font-size: 3em;
    margin-left: 10%;
    font-family: 'Abril Fatface', cursive;
}
.anotherheading{
padding-top: 2%;

}
.logo-section{
    width: 20%;
    height: 90%;
    display: inline;
    margin-left: 4%;
}
.logo2{
    width: 5%;
    height:70% ;
    display: inline;
    float: left;
    border: 1px solid black;
    margin-right: 2%;
    margin-top: 1%;
    border-radius: 25%;
}
.main-sect{
    height: 70%;
}
.main-heading{
    text-align: center;
    margin-top: 3%;
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
}
hr{
    width: 50%;
    height: 5px;
    background-color: black;
}
.main-subheading{
    text-align: center;
    margin-top: 3%;
    font-size: 20px;
    color: #758283;
    font-family: 'Abril Fatface', cursive;
}
.main-body-sect1{
    height: 300px;
    width: 90%;
    
    margin-left: 12%;
}
.main-container{
    height: 80%;
    width: 20%;
    display: inline;
    float: left;
    border: 2px solid black;
    margin-right: 13%;
    margin-top: 5%;
}
.main-img{
    width: 30%;
    height:30% ;
    
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
    border-radius: 25%;
}
.main-title{
    text-align: center;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    padding-top: 5%;
}
.main-body{
    text-align: center;
    font-size: 15px;
    font-family: 'Abril Fatface', cursive;
    padding-top: 5%;
}
.main-body-sect2{
    height: 350px;
    width: 80%;
    border: 2px solid black;
    margin: auto;
    margin-top: 5%;
}
.subbody-sect2{
    width: 40%;
    height: 100%;
    display: inline;
    float: left;
    margin: auto;
}
.subbody-sect22{
    width: 40%;
    height: 90%;
    display: inline;
    float: left;
    margin: auto;
    margin-left: 5%;
}
.subbody-sect21{
    width: 10%;
    height: 100%;
    display: inline;
    float: left;
    margin: auto;
    
    
   
}
.sect2-body1{
    height: 50%;
    
}
.sect2-body2{
    height: 40%;
    
}
.sect2-img{
    width: 30%;
    height:100px ;
    display: inline;
    float: left;
    border: 1px solid black;
    margin: auto;
    margin-top:10%;
    margin-left: 3%;
    border-radius: 25%;
    
}
.sect2-main{
    padding-top: 10%;
    
}
.main-body-sect2 hr{
    width: 70%;
    height: 1%;
    color: black;
    
}
.main-body-sect3{
    height: 450px;
    width: 80%;
    border: 2px solid black;
    margin: auto;
    margin-top: 2%;
   
}

.main-body-sect4{
    height: 300px;
    width: 90%;
    margin-bottom: 7%;
    margin-left: 12%;
}
.regis-container
{
    height: 90%;
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
}
.regis-heading{
    font-size: 2em;
    padding-top: 2%;
    height: 20%;
    width: 100%;
    
}
.regis-heading span{
    float: left;
}
.regis-body{
    height: 40%;
    width: 95%;
}
.regis-left{
   
   float: left;
    width: 50%;
}
.left-label{
    float: left;
    width: 30%;
    line-height: 2;
}
.left-value{
    float: left;
    width: 50%;
    line-height: 2;
}
.regis-right{
   
    float: right;
     width: 50%;
 }
 .right-label{
     float: left;
     width: 30%;
     line-height: 2;
 }
 .right-value{
     float: left;
     width: 50%;
     line-height: 2;
 }
 .regis-sect{
     height: 30%;
     width: 80%;
 }
 .left-address{
     float: left;
    
     width: 20%;
 }
.right-address{
    float: left;
    width: 70%;
    padding-left: 4%;
}
.regis-bsect{
    height: 10%;
    width: 100%;
    margin-top: 2%;
    
}
.regis-button{
    
   
    float: right;
}
.cancel{
    float: left;
    margin-left: -50%;
    margin-right: 5%;
}
.save{
    float: left;
    
}


.footer{
    height: 40px;
    width: 100%;
    background-color: #51E1ED;
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;
}
.footer-name{
    font-size: 15px;
    text-align: center;
    color: #758283;
    padding-top: 1%;
}
@media only screen and (max-width:700px){
    .nav{
        height: 350px;
        width: 100%;
        background-color: #242B2E;
    }
    .nav-heading{
        width: 100%;
        font-size: 3em;
        color: white;
       
       text-align: center;
       padding-top: 1%;
    }
    .nav-menu{
        width: 100%;
        padding-top: 2%;
    }
    .nav-items{
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 4%;
    }
    .nav-icon img{
        height: 40px;
        width: 100%;
       float: right;
        display: block;
        margin: auto;
    }
    .nav-subitems{
        display: none;
        position: absolute;
        min-width: 150px;
        min-height: 150px;
        background-color: white;
        border: 1px solid black;
    }
    .nav-subitems .subitems{
        padding-top: 5%;
        padding-left: 3%;
        line-height: 1.5;
    }
    .nav-icon:hover .nav-subitems{
        display: block;
    }
    .heading-sect{
    
        width: 100%
        
    }
    .heading-image img{
       height: 500px;
        width: 100%;
        z-index: 2;
        
    }
    .heading-name{
        
        
        font-size: 10em;
        padding-left: 30%;
        color: white;
        
    }
}